/* Soluzione qui */

/* Tablet (sopra i 768px) */

@media screen and (min-width:768px) {
    #topbar {
        justify-content: flex-start;
    }

    main {
        padding: 40px;
    }

    h2 {
        font-size: 1.8rem;
    }

    .recipe-origin {
        display: inline;
    }

    div.quick-notes ul {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem 2rem;
    }

    .quick-notes li {
        flex-basis: calc(33.33% - 2rem);
    }

    .btn {
        padding: 10px 10px;
    }

    .ads {
        display: block;
    }

    p.clearfix img {
        float: left;
        margin-right: 10px;
    }
}

/* Desktop (sopra i 922px) */

@media screen and (min-width:922px) {
    h2 {
        font-size: 2rem;
    }

    div.quick-notes ul {
        display: block;
    }

    .recipe-card {
        display: flex;
    }

    .recipe-video {
        width: 75%;
    }

    .social-networks .label {
        display: inline;
    }

    .btn {
        justify-content: center;
        width: calc(100% / 5);
    }

    footer {
        display: flex;
        justify-content: space-between;
    }

    address {
        text-align: left;
    }
}